    * {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

/* Header */

.header-responsive {
    display: none;
}

.header {
    width: 100%;
    max-width: 10800px;
    margin: 0 auto;
    background: #1d2323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

header div a span {
    text-decoration: none;
}

.oneago {
    padding: 10px 0px 0px 20px;
}

span.oneago-name {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 60px 10px 5px;
    color: #fff;
    text-decoration: none;
}

.oneago-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


header nav ul li a {
    color: #fff;
    padding: 15px 15px 15px 5px;
    display: block;
    font-family: 'Palanquin', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

/* Introduce to Oneago*/

.introduce {
    padding: 40px 140px;
    background-image: linear-gradient(135deg, #1d2322, #2E373B 33%, #282D33 66%);
    display: -webkit-box;
    inline-height: 320px;
}

.title-welcome {
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
}

.img-description {
    float: left;
    display: flex;
    margin: auto;
}

.slogan {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
}

.description-oneago{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 15px 15px 0px 15px;
    color: white;
    display: flex;
    list-style: none;
}

.d-oneago {
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    display: flex;
    list-style: none;
}

.know-more {
    width: 250px;
    max-width: 300px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: rgba(255,255,255,0);
    display: block;
    margin: auto;
    color: #fff;
    border-radius: 5px;
    border-color: #eee;
}

button a span {
    text-decoration: none;
}

.text {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/* Portfolio */

.portfolio {
    padding: 40px 140px;
    background-image: linear-gradient(#eee, #eee);
}

.portfolio-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 25px;
    text-align: center;
}

.portfolio-subtitle {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
    text-align: center;
}

.cgps-title, .wasapp-title, .ipc-title, .ctc-title, .ohm-title, .you-title, .jair-title, .funmarfancol-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
    text-align: center;
}

.coordinates-gps, .wasapp-direct, .ipc, .ctc, .ohm, .you {
    margin: 10px;
    padding: 20px;
    max-width: 250px;
    min-width: 200px;
    max-height: 350px;
    height: 340px;
    border: solid 2px #aaa;
    border-radius: 5px;
    display: block;
}

.portfolio-aplication {
    display: inline-flex;
}

.portfolio-app {
    display: inline-flex;
}

.btn-cgps, .btn-ctc, .btn-ipc, .btn-ohm, .btn-wasapp {
    display: block;
    margin: auto;
    padding: 10px auto;
}

.gps-img, .img-wasapp, .ipc-img {
    display: block;
    margin: auto;
    padding: 32px 0px 33px;
    width: 100px;
    height: 100px;
}

.ctc-img, .you-img {
    display: block;
    margin: auto;
    padding: 40px 0px 25px;
    width: 100px;
    height: 100px;
}

.ohm-img {
    padding: 0px 0px 30px;
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
}

.coordinates-description, .ipc-description, .wasapp-description, .ctc-description, .ohm-description, .you-description, .jair-description, .funmarfancol-description {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 10px auto 20px;
    text-align: justify;
}

.jair, .funmarfancol {
    margin: 10px;
    padding: 20px;
    max-width: 900px;
    min-width: 880px;
    max-height: 400px;
    height: 375px;
    border: solid 2px #aaa;
    border-radius: 5px;
    display: block;
}

.jair-img, .funmarfancol-img {
    display: block;
    margin: auto;
    padding: 15px 0px;
}

.portfolio-website {
    display: inline-block;
}

.btn-web {
    display: block;
    margin: auto;
    width: 350px;
    max-width: 375px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255,255,255,0);
    border-color: #aaa;
}

.btn-view {
    display: block;
    margin: auto;
    width: 250px;
    max-width: 275px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255,255,255,0);
    border-color: #aaa;
}

/* Services */

.services-provides {
    padding: 40px 140px;
    background-image: linear-gradient(120deg, #0e68bb, #0f7ce9 40%);
}

.title-services {
    font-family: 'Palanquin', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
}

.apps-making, .web-making, .dt-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.img-apps, .img-web, .td-img {
    display: block;
    margin: auto;
}

.img-apps, .td-img {
    padding: 15px 0px;
}

.img-web {
    padding: 45px 0px;
}


.web-description, .app-description, .td-description {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 10px auto 20px;
    color: white;
}

.apps-services, .web-services, .digital-transformation {
    padding: 20px;
    min-width: 200px;
    max-width: 250px;
    max-height: 350px;
    height: 330px;
    margin: 10px;
    border: solid 2px #eee;
    border-radius: 5px;
}

.portfolio-articles {
display: inline-flex;
}

.btn-more {
    display: block;
    margin: auto;
    width: 250px;
    max-width: 275px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    font-weight: bold;
    color: white;
}

/* About us */

.about-us {
    padding: 40px 140px;
    background-image: linear-gradient(135deg, #1d2322, #2E373B 33%, #282D33 66%);
}

.about-title {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #f1f1f1;
}

.about-description {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #f1f1f1;
}

.btn-about {
    display: block;
    margin: 5px auto;
    width: 250px;
    max-width: 275px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    color: #f1f1f1;
    font-weight: bold;

}

/* Contact us */

.contact-form {
    padding: 15px;
    background-image: linear-gradient(#eee, #eee);
}

.contact {
    width: 300px;
    max-width: 350px;
    padding: 30px;
    display: block;
    margin: auto;
    color: black;
}

#name, #email, #phone, #message {
    border-radius: 5px;
    border: 2px solid #ccc;
    background: #fff;
    width: 270px;
    max-width: 300px;
    text-decoration: none;
    padding: 10px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

input {
    background-color: rgba(255,255,255,0);
    color: #000;
}

div label, div input {
    margin: 5px;
    padding: 5px;
    font-family: 'Palanquin', sans-serif;
}

.contact-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #1d2323;
}

.send {
    display: block;
    margin: 10px auto;
    width: 250px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 2px solid #ccc;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    color: #1d2323;
    font-weight: bold;
}

.access-links {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.access-link {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}


/* Footer */

.footer {
    width: 100%;
    max-width: 10800px;
    margin: 0 auto;
    background: #1d2323;
}


footer nav ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    font-family: 'Palanquin', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul {
    overflow: hidden;
    list-style: none;
}

footer nav ul li {
    float: left;
}

.copy, .love-oneago {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.love, .oneago-footer {
    font-family: 'Palanquin', sans-serif;
    color: white;
    text-align: center;
}

.red {
    color: red;
}












