* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

/* Header */

.header-responsive {
    display: none;
}

.header {
    width: 100%;
    max-width: 10800px;
    margin: 0 auto;
    background: #1d2323;
}

.oneago-name {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px 60px 0px 10px;
    color: #fff;
}

header nav ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    font-family: 'Palanquin', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

/* Introduce to Oneago*/

.introduce {
    padding: 40px 140px;
    background-image: linear-gradient(to bottom right, #1d2323, #2E373B, #282D33);
}

.title-welcome {
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
}

.slogan {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
}

.logo-oneago {
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

.description-oneago {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 15px;
    color: white;
}

/* Portfolio */

.portfolio {
    padding: 40px 140px;
    background-image: linear-gradient(to bottom right, #31755D, #4DB893);
}

.portfolio-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 25px;
    text-align: center;
}

.portfolio {

}

.portfolio-subtitle {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
    text-align: center;
}

.cgps-title, .wasapp-title, .ipc-title, .ctc-title, .ohm-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
    text-align: center;
}

.coordinates-gps, .wasapp-direct, .ipc, .ctc, .ohm {
    padding: 20px;
    max-width: 250px;
    display: inline-block;
    max-height: 300px;
    height: 200px;
    border: solid 1px black;
}

.btn-cgps, .btn-ctc, .btn-ipc, .btn-ohm, .btn-wasapp {
    display: block;
    margin: auto;
    padding: 10px auto;
}

.gps-img, .img-wasapp, .ipc-img, .ohm-img, .ctc-img {
    display: block;
    margin: auto;
    padding: 15px 0px;
}

.coordinates-description, .ipc-description, .wasapp-description, .ctc-description, .ohm-description {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.btn-view {
    display: block;
    margin: auto;
    display: block;
    margin: auto;
    width: 250px;
    max-width: 275px;
    padding: 20px auto;
    font-family: 'Palanquin', sans-serif;
    border-radius: 5px;
    text-align: center
}



/* Services */

.services-provides {
    padding: 40px 140px;
    background-image: linear-gradient(to bottom right, #502875, #614B75, #A07CC2);
}

.title-services {
    font-family: 'Palanquin', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}

.apps-making, .web-making, .dt-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
    text-align: center;
}

.img-apps, .img-web, .td-img {
    display: block;
    margin: auto;
    padding: 15px 0px;
}

.web-description, .app-description, .td-description {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 10px auto;
}

.apps-services, .web-services, .digital-transformation {
    padding: 20px;
    min-width: 200px;
    max-width: 250px;
    max-height: 350px;
    height: 350px;
    margin: 10px;
    border: solid 1px black;
}

.portfolio-articles {
display: inline-flex;
}

.btn-more {
    display: block;
    margin: auto;
    display: block;
    margin: auto;
    width: 250px;
    max-width: 275px;
    padding: 20px auto;
    font-family: 'Palanquin', sans-serif;
    border-radius: 5px;
    text-align: center
}

/* About us */

.about-us {
    padding: 40px 140px;
    background-image: linear-gradient(to bottom right, #7864E8, #7A8AFF, #6496E8);
}

.about-title {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.about-description {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.btn-about {
    display: block;
    margin: 5px auto;
    width: 250px;
    max-width: 275px;
    padding: 20px auto;
    font-family: 'Palanquin', sans-serif;
    border-radius: 5px;
    text-align: center;

}

/* Contact us */

.contact-form {
    padding: 40px;
    background-image: linear-gradient(to bottom right, #E84858, #FF644F);
}

.contact {
    border: 1px solid black;
    width: 300px;
    max-width: 350px;
    padding: 30px;
    display: block;
    margin: auto;
}

#name, #email, #phone, #message {
    border-radius: 5px;
    width: 270px;
    max-width: 300px;
    text-decoration: none;
    padding: 5px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

div label, div input {
    margin: 5px;
    padding: 5px;
    font-family: 'Palanquin', sans-serif;
}

.contact-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 25px;
    text-align: center;
}

.send {
    display: block;
    margin: 5px auto;
    padding: 20px auto;
    width: 250px;
    font-family: 'Palanquin', sans-serif;
    border-radius: 5px;
    text-align: center;
}

/* Footer */

.footer {
    width: 100%;
    max-width: 10800px;
    margin: 0 auto;
    background: #1d2323;
}


footer nav ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    font-family: 'Palanquin', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul {
    overflow: hidden;
    list-style: none;
}

footer nav ul li {
    float: left;
}

.copy, .love-oneago {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.love, .oneago-footer {
    font-family: 'Palanquin', sans-serif;
    color: white;
    text-align: center;
}

.red {
    color: red;
}












